/* 
mystyle.css 
*/

html{
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    resize: both;
    overflow: scroll;
}
a:link{
    color:rgb(7, 4, 177);
}
a:visited {
    color: rgb(87, 0, 128);
}
a:hover { 
    color: rgb(87, 0, 128);
}
a:active { 
    background-color: skyblue;
}
ul {
    border: 3px solid black;
    height: 25px;
    text-align: center;
    padding-top: 5px;
}
body {
    text-align: center;
    
}

.header{
    text-align: center;
    text-shadow: 1px 1px gray;
    font-size: 20px;
}
.navigation {
    text-align: center;
    font-style: italic;
    border-width: thin;
    font-size: 20px;
}
.navigation li {
    margin: 2em;
    display: inline;
}
.sideL {
    width: 15%;
    float: left;
    position: static;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.content{
    width: 65%;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-left: 10px;
    
}
.footer {
    width: 10em;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    clear: both;
    
}

/*resume accordion format*/ 
.accordion{
    background-color: rgba(0, 0, 0, .1);
    border: 2px solid black;
    color: black;
    cursor:pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.active, .accordion:hover{
    background-color: rgba(0, 0, 0, .3);
}
.panel{
    padding: 0 18px;
    display: none;
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid black;
    overflow: hidden;
    text-align: left;
}

#midText{
    text-align: center;
    border: solid black;
}
